# NOTE:
# In order for this to work you need to add the following settings in your secrets.yaml file:
# - api_key
# - ota_password
# - ap_password
# - wifi_ssid
# - wifi_password

# In real world deployment, consider using unique values for each
# device: api_key, ota_password, ap_password

api_key: "XXX"
ota_password: "XXX"
ap_password: "XXX"
wifi_ssid: "XXX"
wifi_password: "XXX"


